@import "/css/site.css";

[contenteditable] {
  outline: none;
  border: 1px solid transparent;
}

[contenteditable]:focus {
  border: 1px solid hsla(0,0%,50%,.4);
}

#writersblock {
  display: inline-flex;
  width: 800px;
  max-width: 96%;
  height: auto;
  margin: 20px 40px 20px 0;
  padding: 0 0 20px 0;
  border-radius: 2px;
  background: rgb(227, 218, 201);
  color: hsl(0,0%,30%);
}

#titleblock {
  display: inline-block;
  padding: 0 20px 0 20px;
  margin: 20px 0 20px 0;
  width: 100%;
  font-size: 2.5em;
  text-align: left;
  border-right: 3px solid hsl(0,0%,25%);
}

.wr-buttons {
  position: absolute;
  height: auto;
  left: 100%;
  top: 0;
}

.wr-buttons > button {
  position: relative;
  font-size: 1.3em;
  border: none;
  outline: none;
  cursor: pointer;
  background: #fff;
  color: hsl(0,0%,30%);
  margin: 0 0 5px 5px;
  width: 30px;
  height:30px;
}
