* {
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0;
}

body, html {
  position: fixed;
  display: block;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: serif;
  text-align: center;
  background: #fff;
  color: hsl(0, 0%, 35%);
  transition: all 140ms ease-in;
}

.flexCentered, .sidebar, .sbToggle, .contentGrid {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
}

.sidebar {
  position: fixed;
  justify-content: flex-start;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background: #fff;
  color: hsl(0, 0%, 40%);
  border-right: 1px solid hsla(45, 8%, 19%, .4);
  transition: all 200ms ease-in;
  z-index: 11;
}

.sidebar.toggled {
  box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.1);
  transition-delay: 200ms;
}

.sidebar.toggled:hover {
  left: 0 !important;
}

@keyframes moveOutWay {
  0% {
    top: 0;
  }
  50% {
    border-top: 1px solid hsla(45, 8%, 19%, .4);
    top: 160px;
  }
  100% {
    top: 0;
  }
}

.sidebar.toggled>.sbToggle {
  animation: moveOutWay 400ms ease-in;
  color: hsl(45, 8%, 19%);
}

.sidebar.toggled>.sbToggle::before {
  content: '>>';
}

.sbToggle::before {
  content: '<<';
}

.sbToggle {
  position: absolute;
  left: 100%;
  top: 0;
  left: 239px;
  width: 25px;
  height: 25px;
  background: inherit;
  border: 1px solid hsla(45, 8%, 19%, .4);
  border-left: 0;
  border-top: 0;
  color: hsla(45, 8%, 19%, .4);
  font-size: 1.1em;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
  transition: all 200ms ease-in;
  text-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
}

.sbItem {
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 4px 6px 4px;
  margin: .5px 4px .5px 4px;
  border: 2px solid transparent;
  flex-flow: row;
  width: 90%;
  border-radius: 1px;
  transition: all 95ms ease-in;
  z-index: 1;
}

.sbItem:hover {
  text-shadow: 0 1px 3px hsla(0, 0%, 0%, .15);
  border: 2px dotted hsla(45, 8%, 20%, .35);
  z-index: 2;
}

.sbItem.active {
  border: 2px solid hsla(45, 10%, 10%, .5);
  background: hsl(0,0%, 99.5%);
  text-decoration: underline;
}

.sbItem, .sbItem:hover, .sbItem.active {
  border-top: 0;
  border-bottom: 0;
}

.contentGrid {
  width: 100%;
  height: 100%;
  flex: 1 1 100%;
  flex-flow: row;
  transition: all 200ms ease;
}

.fancyHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row;
  flex-wrap: nowrap;
  text-align: center;
  width: 94%;
  margin: 10px auto;
  font-size: 1.8em;
}

.fancyHeader::before, .fancyHeader::after {
  display: block;
  content: ' ';
  height: 2px;
  min-width: 8px;
  margin: 0 4px;
  width: auto;
  background: hsla(0, 0%, 70%, .8);
  border-radius: 4px;
  transform: translateY(1px);
  flex: 1 0 auto;
}

@media all and (max-width: 760px) {
  .sidebar {
    position: relative;
    top: 0;
    left: 0 !important;
    width: 100%;
    height: auto;
    border: none;
    border-bottom: 1px solid hsla(45, 8%, 19%, .4);
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .sidebar > .fancyHeader {
    width: 100%;
    margin: 2px auto 8px auto;
  }
  .sbToggle {
    display: none;
  }
  .sbItem {
    width: auto;
    flex: 1 1 auto;
    margin: -1px;
    padding: 6px 12px;
    transform: translateY(2px);
  }
  .sbItem, .sbItem:hover, .sbItem.active {
    border: none;
    border: 1px solid transparent;
    border-bottom: 2px solid transparent;
  }
  .sbItem:hover {
    border: 1px solid hsla(45, 10%, 30%, .05);
    border-bottom: 2px solid hsla(45, 10%, 30%, .5);
  }
  .sbItem.active {
    border: 1px solid hsla(45, 10%, 10%, .05);
    border-bottom: 2px solid hsla(45, 10%, 10%, .5);
  }
  body > main.contentGrid {
    height: auto;
    min-height: 85%;
  }
}
