/*@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900');*/

* {
  box-sizing: border-box;
}

::selection {
  background: hsla(45, 35%, 32%, .65);
  text-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
  color: #fff;
}

::-moz-selection {
  background: hsla(45, 35%, 32%, .65);
  text-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
  color: #fff;
}

.hidden {
  display: none !important;
}

body {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Varela Round', 'Nunito', 'Roboto', Helvetica, Arial, sans-serif;
  text-align: center;
  background: url("/media/noise.jpg") hsl(0, 0%, 10%) repeat;
  color: hsl(0, 0%, 90%);
  transition: background-color 200ms ease-in;
}

hr {
  display: block;
  width: 90%;
  margin: 25px auto;
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 50%);
}

@keyframes grimstack-pulse {
  0% {
    background: hsl(0, 0%, 7%);
    text-shadow: 0 0 1px #E3DAC9;
  }
  100% {
    background: hsl(0, 0%, 14%);
    text-shadow: 0 0 8px #E3DAC9;
  }
}

@keyframes pop-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pop-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.pop-in {
  animation: pop-in 200ms ease-in;
}

.pop-out {
  animation: pop-out 160ms ease-in;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes rock {
  0% {
    transform: rotateZ(-10deg);
  }
  50% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(10deg);
  }
}

.grm-spin4 {
  font-size: 2.5em;
  animation: spin 520ms ease-in infinite;
}

.fancyfont, .notify, #GrimstackHead, [ui], [ui]>span, #authform button, .pvTitle, #postList>header, .toggle, .postDesc>a {
  font-family: 'Nunito', 'Varela Round', 'Roboto', Helvetica, Arial, sans-serif;
}

.txtcenter {
  text-align: center;
}

.roundcorners, [ui], .notify, #account, #ctx, .closeCtx, .bio, #postList, #postList>header, #postList>.pager>div, .details, .tags, #authform, #authform button, .postDesc, .postDesc>aside>div, #authform>section>* {
  border-radius: 2px;
}

.round {
  border-radius: 100%;
}

.flex-centered, .notify, #ui, [ui], #ctx, #postList, #postList>.pager, #account, .closeCtx, .profile, .bio {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column;
}

#notifications {
  position: fixed;
  align-items: flex-start;
  flex-flow: column-reverse;
  bottom: 1%;
  left: 1%;
  z-index: 10;
}

.notify {
  width: auto;
  flex-flow: nowrap;
  width: 95%;
  max-width: 600px;
  margin: 5px;
  padding: 6px 6px 6px 8px;
  background: hsl(0, 0%, 35%);
  color: #fff;
  box-shadow: 0 2px 6px hsla(0, 0%, 0%, .2);
  border: 2px dashed hsl(214, 100%, 55%);
}

.notify>* {
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

.notify>.close::before {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  margin: 0;
}

.notify>.close {
  display: inline-flex !important;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 2em;
  width: 36px;
  height: 36px;
  background: #fff;
  color: hsl(0, 63%, 53%);
  margin-right: 10px;
}

.notify.warn {
  border: 2px dashed hsl(46, 100%, 54%);
}

.notify.err {
  border: 2px dashed hsl(0, 100%, 53%);
}

#grimstack {
  position: absolute;
  display: inline-block;
  text-align: center;
  margin: 0;
  border-radius: 2px;
  line-height: 50px;
  height: 50px;
  width: 260px;
  left: 10px;
  top: 10px;
  font-size: 3em;
  background: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 19%);
  text-shadow: 0 0 1px #E3DAC9;
  box-shadow: inset 0 0 5px hsl(0, 0%, 0%);
  transition: all 160ms ease-in;
  z-index: 10;
}

#grimstack:hover {
  animation: 1s ease-in grimstack-pulse alternate infinite;
  box-shadow: inset 0 0 12px hsla(0, 0%, 0%, .75);
}

#ui {
  justify-content: flex-start;
  flex-flow: row-reverse;
  text-align: center;
  overflow: visible;
  user-select: none;
  height: 70px;
  padding: 10px;
  width: 100%;
  background: hsla(0, 0%, 20%, .8);
  box-shadow: 0 2px 6px hsla(0, 0%, 10%, .2);
}

#ui>* {
  margin-right: 10px;
  height: 50px;
}

[ui] {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  flex: 0 0 auto;
  cursor: pointer;
  background: #fff;
  color: hsl(0, 0%, 35%);
}

[ui]::before, #ctx, .closeCtx, .logout {
  font-size: 1.6em;
  vertical-align: middle;
}

#ctx {
  width: auto;
  cursor: pointer;
  padding: 0 10px 0 10px;
  color: hsl(0, 0%, 30%);
  font-weight: 900;
}

.closeCtx {
  background: #fff;
  color: hsl(0, 78%, 55%);
  cursor: pointer;
  font-size: 2.8em;
}

.closeCtx, .logout, #account {
  width: 50px;
}

.logout {
  background: #fff;
  cursor: pointer;
  color: hsl(0, 0%, 30%);
}

#account, [ui] {
  overflow: hidden;
}

#account>img {
  width: 100%;
  height: 100%;
}

.profile {
  text-align: center;
}

.profileDetails {
  max-width: 400px;
  min-width: 280px;
  padding: 10px;
  margin: 10px;
  background: hsl(0, 0%, 15%);
}

.profileDetails>img {
  border: 2px solid #fff;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.bio span {
  font-weight: bold;
  font-size: 1.1em;
  text-align: left;
  width: 100%;
  margin: 0 0 6px 0;
}

.bio {
  background: hsl(0, 0%, 20%);
  color: #fff;
  max-width: 260px;
  padding: 10px;
}

#postList {
  padding: 60px 8px 10px 8px;
  max-width: 740px;
  margin: 25px auto 25px auto;
  text-align: center;
  background: hsl(0, 0%, 12%);
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  flex-flow: row;
  flex-wrap: wrap;
  z-index: 0;
}

#postList>header {
  position: absolute;
  top: 1%;
  left: 12px;
  display: block;
  text-align: center;
  font-size: 1.4em;
  font-weight: 900;
  text-shadow: 0 1px 3px hsl(0, 0%, 0%, .2);
}

#postList>.pager {
  user-select: none;
  position: absolute;
  top: 1%;
  right: 12px;
  flex-flow: row;
}

#postList>.pager>div {
  position: relative;
  display: block;
  margin: 6px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  background: hsl(0, 0%, 20%);
}

.postDesc {
  position: relative;
  display: block;
  padding: 0 0 60px 0;
  margin: 12px 8px 55px 8px;
  min-height: 140px;
  max-width: 320px;
  flex: 0 1 320px;
  border-radius: 2px;
  background: hsl(0, 0%, 16%);
  color: hsl(0, 0%, 78%);
  box-shadow: 0 1px 12px -1px hsla(0,0%,0%,.2);
}

.postDesc>a {
  position: relative;
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 2px 10px 8px 10px;
}

.postDesc>a>header {
  position: relative;
  display: block;
  text-align: left;
  color: #fff;
  font-size: 1.2em;
  padding: 4px 0 4px 0;
  border-bottom: 1px solid hsl(0, 0%, 40%);
}

.postDesc>aside {
  position: absolute;
  text-align: center;
  user-select: none;
  flex-flow: row !important;
  flex-wrap: wrap;
  top: calc(100% + 4px);
  left: 0;
  height: 42px;
  width: 92px;
  border-radius: 2px;
}

.postDesc>aside>div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  padding: 1px;
  margin: 0 4px 0 0;
  font-size: .8em;
  background: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 70%);
  cursor: pointer;
  transition: all 100ms ease;
}

.postDesc>aside>div:hover {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, .2);
  filter: brightness(1.2);
}

.postDesc>aside>div::before {
  display: block;
  white-space: nowrap;
  margin: 3px auto 1px auto;
  font-size: 1.4em;
}

.postDesc>section {
  position: relative;
  display: block;
  padding: 5px 10px 5px 10px;
  text-align: left;
}

.postDesc>footer {
  position: absolute;
  display: block;
  text-align: left;
  bottom:2px;
  left:0;
  margin: 0;
}

/*.postDesc .tags {
  font-size: 0;
  margin: 0;
  padding: 0;
  transition: all 160ms ease;
  transition-delay: 880ms;
}

.postDesc:hover .tags {
  font-size: .82em;
  margin: 2px 2px 0 2px;
  padding: 3px 4px 3px 4px;
  transition-delay: 0;
}*/

.details, .tags {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: hsl(0, 0%, 40%);
  margin: 2px 4px 0 0;
  padding: 3px 4px 3px 4px;
  font-size: .82em;
}

.details::before, .tags::before {
  margin: 0;
  font-size: 14.4px;
  color: hsl(0, 0%, 46%);
  vertical-align: middle;
}

.pvHead>.details {
  margin: 4px 0 5px 0;
}

.pvHead>.details>* {
  margin: 0 5px 0 0;
}

.details>*, .tags>.tag {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1px 0 2px;
}

.details>time::before {
  content: "written ";
}

.details>span::before {
  content: "by ";
}

.tags {
  display: inline-block;
  text-align: left;
}

.tags>.tag {
  cursor: pointer;
  transition: all 130ms ease-in;
}

.tags>.tag:hover {
  text-decoration: underline;
  font-weight: bold;
}

.tags>.tag::after {
  content: ', ';
}

.tags>.tag:last-of-type::after {
  content: '';
}

a {
  color: #E3DAC9;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #d9cfbe;
}

#postViewer {
  position: relative;
  display: inline-block;
  text-align: left;
  width: auto;
  max-width: 740px;
  margin: 1% auto;
  padding: 6px;
  font-size: 1.2em;
}

#postViewer>article, #postViewer>footer {
  position: relative;
  display: inline-block;
  line-height: 1.45;
}

#postViewer .details, #postViewer .tags {
  background: hsla(0, 0%, 15%, .8);
}

.pvHead {
  position: relative;
  display: inline-block;
  text-align: justify;
}

.pvTitle {
  position: relative;
  display: inline-block;
  font-size: 2em;
}

[contenteditable] {
  outline: none;
  border: 1px solid transparent;
}

[contenteditable]:focus {
  border: 1px solid hsla(0, 0%, 50%, .4);
}

.commentBuilder, article.comment {
  position: relative;
  display: block;
  width: 90%;
  color: hsl(0, 0%, 88%);
  background: hsl(0, 0%, 13%);
  margin: 20px auto;
  padding: 8px;
  font-size: .8em;
}

.commentBuilder>img, .commentBuilder>button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  margin: 5px;
}

.commentBuilder>button {
  background: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 65%);
  border: 1px solid hsl(0, 0%, 15%);
  cursor: pointer;
  border: 0;
  padding: 8px;
}

.commentContent {
  position: relative;
  display: block;
  text-align: left;
  white-space: pre-wrap;
  width: 98%;
  outline: 0;
  color: hsl(0, 0%, 88%);
  background: hsl(0, 0%, 13%);
  border: 1px solid hsl(0, 0%, 15%);
  margin: 5px auto;
  padding: 5px;
  resize: vertical;
}

article.comment>header>* {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  margin: 4px;
  color: hsl(0, 0%, 88%);
}

article.comment>header>span::before {
  content: ' by ';
}

article.comment>p {
  padding: 5px;
  margin: 5px auto;
}

#authform {
  position: relative;
  display: block;
  width: 333px;
  padding: 10px 15px 10px 15px;
  background: hsl(0, 0%, 20%);
  margin: 40px auto;
  text-align: center;
  box-shadow: 0 3px 25px -4px hsla(0, 0%, 0%, .3);
}

#authform>section>* {
  position: relative;
  display: block;
  outline: none;
  border: none;
  margin: 12px auto;
  padding: 5px;
  font-size: 1.1em;
}

#authform>section>input {
  color: hsl(0, 0%, 20%);
}

#authform button {
  background: hsl(0, 0%, 33%);
  color: #E3DAC9;
  font-size: 1.3em;
  font-weight: bold;
  height: 55px;
  width: 55px;
  border: 1px solid transparent;
  margin: 18px auto 0 auto;
  cursor: pointer;
  transition: all 140ms ease-in;
}

#authform button:hover {
  border: 1px solid #E3DAC9;
  filter: drop-shadow(0 1px 3px hsla(0, 0%, 0%, .2));
}

#authform button:active {
  border: 1px solid #E3DAC9;
  filter: none;
  box-shadow: inset 0 0 8px hsla(0, 0%, 0%, .2);
}

.authMsg {
  border: 1px dotted hsl(0, 72%, 45%);
  color: hsl(0, 72%, 60%);
  background: hsl(0, 0%, 25%);
  font-size: 1.2em;
  padding: 8px;
  margin: 15px auto 5px auto;
}

details {
  text-align: left;
  font-size: .94em;
  margin: 5px auto 15px auto;
}

details>summary {
  cursor: help;
  outline: none;
  border: none;
}

.toggle {
  position: relative;
  display: block;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  height: 40px;
  margin: 12px auto;
  padding: 5px;
  font-size: 1.1em;
}

.toggle span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 8px 0 8px;
}

.toggle>.left, .toggle>.right {
  transition: all 140ms ease-in;
}

.toggle>.back {
  height: 6mm;
  width: 14mm;
  border-radius: 12px;
  overflow: visible;
  cursor: pointer;
  background: hsl(0, 0%, 80%);
  box-shadow: inset 0 0 4px hsla(0, 0%, 0%, .24);
}

.toggle .middle {
  position: absolute;
  top: -1mm;
  left: 0;
  margin: 0;
  background: #fff;
  height: 8mm;
  width: 8mm;
  border-radius: 100%;
  transition: 140ms ease-in;
  filter: drop-shadow(0 1px 3px hsla(0, 0%, 0%, .2));
}

.toggle.active .middle {
  left: calc(100% - 6mm);
}

@media all and (min-width: 1280px) {
  #postList {
    max-width: 1050px;
    padding: 55px 12px 12px 12px;
  }
}

@media all and (max-width: 832px) {
  #postViewer {
    font-size: 1.1em;
  }
  .pvTitle {
    font-size: 2em;
  }
  .postDesc {
    flex: 1 1 350px;
    max-width: 350px;
    margin: 10px 6px 56px 6px;
  }
}

@media all and (max-width: 742px) {
  .postDesc {
    flex: 1 1 330px;
    max-width: 330px;
    margin: 10px 6px 56px 6px;
  }
}

@media all and (max-width: 700px) {
  #postViewer {
    min-width: 100%;
  }
  #postList {
    max-width: 99.5%;
    padding: 55px 2px 2px 2px;
    justify-content: center !important;
  }
  .postDesc {
    flex: 1 1 360px;
    max-width: 360px;
    margin: 10px 4px 60px 4px;
  }
}

@media all and (max-width: 600px) {
  #ui {
    padding: 70px 6px 6px 6px;
    height: 150px;
  }
  #grimstack {
    position: absolute;
    top: 10px;
    width: 300px;
    height: 60px;
    line-height: 60px;
    font-size: 3.7em;
    left: calc(50% - 150px);
  }
}

@media all and (max-width: 550px) {
  #postViewer {
    justify-content: center !important;
  }
  .postDesc {
    width: 99%;
    margin: 10px auto 70px auto;
  }
}
