@import "/news/default.css";
@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: 'Nunito', sans-serif;
  color: hsl(0,0%,30%);
  background: hsl(0,0%,99.5%);
}

body > * {
  box-sizing: border-box;
}

:root {
  --main-color: hsl(356,73%,58%);
}

a {
  transition: all 100ms ease;
}

a, a:visited, a:hover {
  color: hsl(0,0%,35%);
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  -moz-filter: brightness(.95);
  -webkit-filter: brightness(.95);
  filter: brightness(.95);
}

a:hover, a:active {
  color: hsl(0,0%,45%);
  text-decoration: underline;
  text-decoration-color: hsla(0,0%,40%,.8);
}

.flex-centered,
#site-header,
#site-footer,
#site-content,
.news-article {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
}

#site-header {
  min-height: 8vh;
  height: auto;
  width: 100%;
  background: var(--main-color);
  color: #fff;
  margin-bottom: 10px;
  padding: 5px;
  box-shadow: 0 2px 10px -.5px hsla(0,0%,0%,.14);
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#site-header > h1 {
  margin: 1vw;
}

#site-header > h1, #site-footer > span {
  text-shadow: 0 1px 3px hsla(0,0%,0%,.15);
}

#source-selector, #color-selector {
  outline: none !important;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin: 1vw;
}

#color-selector {
  cursor: pointer;
  background: #fff;
  padding: 3px;
}

#site-content {
  padding: 0 1.5vw 0 1.5vw;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row;
  flex-wrap: wrap;
}

.news-article {
  height: auto;
  max-width: 680px;
  width: 85vw;
  flex: 1 1 auto;
  margin: 22px 11px;
  padding: 8px 8px 4px 8px;
  border-radius: 0 0 3px 3px;
  border-top: 2px solid var(--main-color);
  box-shadow: 0 0 20px hsla(0,0%,0%,.14);
}

.news-article > header {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid hsla(0,0%,0%,.11);
}

.news-article > img {
  margin: 5px;
  border-radius: 3px;
}

.news-article > header, .news-article > img {
  cursor: pointer;
}

.news-article > header > h3 {
  margin: 5px auto 10px auto;
}

.news-article > header > span, .news-article > header > time {
  font-size: .85em;
}

#site-footer {
  width: 100%;
  height: 200px;
  background: var(--main-color);
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  margin-top: 25px;
}

#site-footer > * {
  margin: 5px;
}

@media all and (max-width: 560px) {
  #site-header > h1 {
    font-size: 1.85em;
    margin: 5px auto;
  }
}

@media all and (max-width: 400px) {
  #site-header > h1 {
    font-size: 1.6em;
    margin: 5px auto;
  }
}
